# KiCad Production Tools and Extensions
matplotlib==3.11.0
pillow==9.5.0
reportlab==5.0.0

# KiCad and PCB Tools
kikit==1.8.0
git+https://github.com/the78mole/PcbDraw.git

# Interactive HTML BOM generator
InteractiveHtmlBom==2.11.2

# Documentation tools for Sphinx and ReadTheDocs
sphinx==8.2.3
myst-parser==5.1.0
sphinx-rtd-theme==3.1.0
sphinx-autobuild==2025.8.25
sphinxcontrib-napoleon==0.7